@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Metal+Mania");
* {
    box-sizing: border-box;
    font-family: 'Mate SC',serif;
    color:rgb(117, 116, 116);
    font-weight: 500;
    
}

.nav li{
    display: inline;
}

.nav a{
    display:inline-block;
    padding: 2em;
    color:rgb(156, 172, 187);
    text-decoration: none;
}

.nav a:hover {
    background-color: rgb(253, 251, 251,.4);
}

.main-nav{
    text-align:center;
    font-size:1.1em;
    font-weight:lighter;
  

}

.main-nav li{
    padding: 0 5%;
}

html, body  {
    margin: 0;
    padding:0;
    
    }
.nav ul {
    margin:0;
}
 .main-header {
     background-color: rgba(0, 0, 0, .6);
     background-image: url("images/background\ wallpaper.jpg");
     background-size: cover;
     background-blend-mode: multiply;
     padding-bottom: 200px;
     }   

.band-name{
    text-align: center;
    margin: 0;
    font-size: 3em;
    font-family: 'Metal Mania';  
    color:aliceblue;
    font-weight: normal;
}
.band-name-large{
    font-size: 6em;
    color:rgb(141, 166, 182);
}

.content-section{
    margin: 1em;
}

.container {
    max-width:1000px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header{
    font-family:'Suez One', serif;
    text-align: center;
    font-weight: lighter;
    color: #333;
    font-size: 3em;
}

.about-band-image{
    float:left;
    height: 300px;
    width:300px;
    margin:15px;
    border-radius:50%;

}

.main-footer{
    background-color: #56CCF2;
    padding: .5em 0;
}
.main-footer-container {
    display: flex;
    align-items: centre;

}
.main-footer-container ul{
    flex-grow: 1;
    text-align: end;

}
.footer-nav li{
    padding:0 1em;

}

.btn{
    text-align: center;
    padding:.5em;
    cursor: pointer;
}

.btn-header{
    margin: 5em 5% 5em 15%;
    color: rgb(174, 189, 202);
    border: 4px solid rgb(75, 23, 66);
    background-color: rgba(255, 255, 255, 0.2);
    font-size:1.7em;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    padding-left: 3em;
    padding-right:3em;

}
.btn-header:hover{
    background-color: rgba(223, 217, 217, 0.4);
}

.btn-play{
    display: block;
    margin:0 auto;
    font-size: 4em;
    padding: 0;
    border-radius: 50%;
    height: 100px;
    width: 100px;

}

.tour-row{
    border-bottom: 1px solid rgb(78, 76, 76);
    padding-bottom: 1em;
    margin-bottom: 1em;


}
.last-child{
    border-bottom: none;
}

.tour-item{
    display: inline-block;
    padding-right: .5em;
    font-size: medium;
    color: black;
}

.tour-date{
    color:#333;
    font-weight: bold;
    width: 21%;
}
.tour-country{
    width:20%;
}
.tour-city{
    width:30%;
}
.tour-ticket{
   
    background-color: #56CCF2;
    border: none;
    color: aliceblue;
    border-radius: .3em;
    font-weight: bold;
}
.tour-ticket:hover{
    background-color: #1c4653;
}

.shop-item{
    margin: 30px;

}
.shop-item-title{
    display:block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color:#333;
    margin-bottom: 15px;
}
.shop-item-image{
    height:250px;

}  
.shop-item-details{
    display:flex ; 
    align-items: center;
    padding:10px;
}
.shop-item-price{
    flex-grow:1;
    color: #333;
}

.shop-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header{
    font-weight: bold;
    font-size: 1.25em;
    color: rgb(7, 5, 5);
}

.cart-column{
    display:flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row{
    display: flex;

}
.cart-item{
    width: 45%;

}
.cart-price{
    width: 20%;
    font-size: 1.2em;

}
.cart-quantity{
    width:35%
}
.cart-item-title{
    color:rgb(7, 3, 3);
    margin-left: .5em;
    font-size: 1.2em;
    
}
.btn-danger{
    color:aliceblue;
    background-color: rgb(230, 61, 61);
    border:none;
    font-weight: bold;
    border-radius: 5px;
}
.btn-danger:hover{
    background-color: rgb(85, 4, 4);
}
.cart-quantity-input{
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border:1px solid #56CCF2;
    background-color: rgb(247, 245, 243);
    color: grey;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: .5em;
}

.cart-total{
    text-align: end;
    margin-top:10px;
    margin-right:20px;
}
.cart-total-title{
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right:20px;
}

.cart-total-price{
    font-size:1.2em;
    
}
.btn-purchase{
    display:block;
    margin: 40px auto 80px auto;
    font-size:1.2em;
}
